<!-- Clients -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>{{ page.title }}</h2>
        <p>{{ page.content }}</p>
        <div class="items style1 medium onscroll-fade-in clients">
            {% for client in page.header.clients %}
                <section class="client">
                    <div class="image" style="background-color: {{ client.background }};">
                        <img src="{{ page.media[client.logo].url }}" alt="{{ client.name }}" title="{{ client.name }}">
                    </div>
                </section>
            {% endfor %}

        </div>
    </div>
</section>

