<!-- One -->
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<section
        class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
        <h1>{{ page.title }}</h1>
        {{ page.content }}
        <ul class="actions vertical">
            <li><a href="#first" class="button big wide smooth-scroll-middle">{{ header.readmore }}</a></li>
        </ul>
    </div>

    {% set background_image = page.media[header.background_img].url %}

    <div class="image" style="
            background-image: url({{ background_image }});
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            ">
        <p>
            {{ background_image }}
        </p>
        {% include 'partials/langswitcher.html.twig' %}
        <div class="logo">
            <img src="{{ url('theme://images/') ~ '/' ~ theme_config.logo_img }}">
            <div class="content">{{ theme_config.slogan }}</div>
        </div>

    </div>
</section>