<!-- Five -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>{{ page.title }}</h2>
        {{ page.content }}
    </div>
    <!-- Gallery -->
    <div class="gallery style2 medium lightbox onscroll-fade-in">
        {% for item in page.header.portfolio %}
            <article>
                <div class="image" style="background-color: {{ item.project_background }};">
                    <img src="{{ page.media[item.projectimg].url }}" alt="{{ item.project_title |regex_replace(['\"'], ['']) }}">
                </div>
                <div class="caption">
                    <h3>{{ item.project_title }}</h3>
                    <p>{{ item.project_description }}</p>
                    {% if item.project_link %}
                        <ul class="actions">
                            <a href="{{ item.project_link }}"
                            <li><span class="button small">Details</span></li>
                            </a>
                        </ul>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </div>

</section>
