<!-- Two -->
<section
        class="spotlight style1 orient-{{ header.orient }} content-align-left image-position-center onscroll-image-fade-in"
        id="first">
    <div class="content">
        <h2>{{ page.title }}</h2>
        {{ page.content }}
        <ul class="actions vertical">
            {% if header.readmore.link %}
                <li><a href="{{ header.readmore.link }}" class="button">{{ header.readmore.text }}</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="image {{ page.slug }}" style="
            background-color: {{ header.spotlight_img_background }};
            overflow:hidden;
            width: 35vw;
            height: 35vw;
            margin: auto;
            ">
        <img src="{{ page.media[header.spotlight_img].url }}" style="
        {% if header.spotlight_fit == 'cover' %}
                position: absolute;
                margin: auto;
                right: -9999px;
                left: -9999px;
                width: auto;
                height: 100%;
                {% elseif header.spotlight_fit == 'contain' %}
                        position: relative;
                        max-height: 100%;
                        max-width: 100%;
                        width: 100%;
                        height: inherit;
        {% endif %}
                ">
    </div>
</section>