<!-- Two -->
<section
        class="spotlight style1 orient-{{ header.orient }} content-align-left image-position-center onscroll-image-fade-in"
        id="{{ page.slug }}">
    <div class="content">
        <h2>{{ page.title }}</h2>
        {{ page.content }}
        <ul class="actions vertical">
            {% if header.readmore.link %}
                <li><a href="{{ header.readmore.link }}" class="button">{{ header.readmore.text }}</a></li>
            {% endif %}
        </ul>
    </div>
        <div class="image {{ page.slug }}"{% if header.spotlight_img_background %} style="background-color: {{ header.spotlight_img_background }};"{% endif %}>
            <img src="{{ page.media[header.spotlight_img].url }}" alt="{{ page.title }}" class="{{ header.spotlight_fit }}">
        </div>

</section>