<!-- Two -->
<section
        class="spotlight style1 orient-{{ header.orient }} content-align-left image-position-center onscroll-image-fade-in"
        id="first">
    <div class="content">
        <h2>{{ page.title }}</h2>
        {{ page.content }}
        <ul class="actions vertical">
            {% if header.readmore.link %}
                <li><a href="{{ header.readmore.link }}" class="button">{{ header.readmore.text }}</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="image {{ page.slug }}" style="background-color: {{ header.spotlight_img_background }};overflow:hidden;">
        <img src="{{ page.media[header.spotlight_img].url }}" style="
        {% if header.spotlight_fit == 'cover' %}
                position: absolute;
                margin: auto;
                top: -9999px;
                right: -9999px;
                bottom: -9999px;
                left: -9999px;
                width: auto;
                {% elseif header.spotlight_fit == 'contain' %}
                        position: relative;
                        margin: auto;
                        width: 95%;
        {% endif %}
                ">
    </div>
</section>