{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE HTML>

<html>
<head>
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}"/>
    <link rel="canonical" href="{{ page.url(true, true) }}"/>

    {% do assets.addCss('theme://css/critical.css',{'priority':101, 'group':'head'}) %}
    {% do assets.addCss('theme://css/custom.css',{'priority':100, 'group':'head'}) %}
    {{ assets.css('head') }}

    {% do assets.addJs('theme://js/jquery.min.js', {'priority':100, 'loading':'async' ,'group':'head'}) %}
    {% do assets.addJs('theme://js/jquery.scrollex.min.js',  {'priority':103, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/jquery.scrolly.min.js', {'priority':103, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/skel.min.js', {'priority':103, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/util.js', {'priority':103, 'group':'bottom'}) %}
    {% do assets.addJs('theme://js/main.js', {'priority':103, 'group':'bottom'}) %}
    {{ assets.js('head') }}

</head>
<body>

<!-- Wrapper -->
<div id="wrapper" class="divided">

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="wrapper style1 align-center">
        <div class="inner">
            <ul class="icons">
                {% for icons in theme_config.footer.icon %}

                    <li><a href="{{ icons.link }}" class="icon style2 fa-{{ icons.name }}"><span
                                    class="label">{{ icons.title }}</span></a></li>
                {% endfor %}

            </ul>
            <p>{{ theme_config.footer.text }}</p>
            <ul class="footer-menu">
                {% for menuitem in theme_config.footer.menu %}
                    <li><a href="{{ menuitem.link }}">{{ menuitem.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->

{{ assets.js('bottom') }}

<script>var cb = function () {
        var l = document.createElement('link');
        l.rel = 'stylesheet';
        l.href = '{{ url('theme://css/combined.css') }}';
        var h = document.getElementsByTagName('head')[0];
        h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
</script>

</body>
</html>
