{% embed 'partials/base.html.twig' %}
    {% block header %}
        <header class="header" style="background: #5da5c1;padding-left: 8vw;padding-bottom: 2%;">
            <img src="{{ url('theme://images/') ~ '/' ~ theme_config.logo_img }}" style="
                margin: 2% 2% -0.5vw 2%;
                height: auto;
                width: 25%;
            ">
            <div class="slogan" style="
                margin-left: 8.5vw;
                font-size: 0.74vw;
            ">
                {{ theme_config.slogan }}
            </div>
        </header>
    {% endblock %}
    {% block content %}
        <div class="blog-header">
            <h2>{{ page.title }}</h2>
        </div>
        <div class="wrapper blog">
            <div class="list-item h-entry" style="background-color: #F5F5F5;padding: 50px;">
                {{ page.content }}
                {% include "forms/form.html.twig" with {
                form:
                    name: contact
                    fields:
                        -
                            name: name
                            label: Name
                            placeholder: 'Enter your name'
                            autofocus: 'on'
                            autocomplete: 'on'
                            type: text
                            default: test

                    buttons:
                        -
                            type: submit
                            value: Submit

                    process:
                        -
                            message: 'Thank you for your feedback!'
                } %}
                {{ 'BLOG.ITEM.LAST_UPDATE'|t }}:
                <span class="list-blog-date">
                    <time class="dt-published" datetime="{{ page.date|date("c") }}">
                        <span>{{ page.date|date("d") }}</span>
                        <em>{{ page.date|date("M") }} </em>
                        <span>{{ page.date|date("Y") }}</span>
                    </time>
                </span>
            </div>
        </div>
    {% endblock %}

{% endembed %}