{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		<header class="header" style="
				height:400px;
				width:100%;
				background: {{ header.background_color }} url({{ page.media[header.banner_img].url }}) center no-repeat;
				">
            <img src="{{ page.media[header.logo_img].url }}" style="
                margin: 2% 2% 0px 2%;
                width: 25%;
            ">
            <div class="slogan" style="left:2%;">
                {{ header.slogan }}
            </div>
		</header>
		{{ page.content }}

		<div class="content-wrapper blog-content-list grid pure-g">
			<div id="listing" class="block pure-u-2-3 h-feed">
				{% for child in collection %}
			        {% include 'partials/job.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
			    {% endfor %}
			</div>
		</div>
	{% endblock %}

{% endembed %}


